.online {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 23px;
}

.lead {
    font-family: Arial, sans-serif;
    border-radius: 2px;
    
}

.portada {
    color: black;
}

.prueba{
    background-color:red;
}

.color{
    background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    z-index: 1000;
  }
  
  .whatsapp-float i {
    margin-top: 17px;
  }


  .fuente{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

  .sobre-mi{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }


  /* Estilos adicionales para la sección de servicios */
#services {
  background-color: #f8f9fa;
}

.card {
  border: none;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  max-height: 250px;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}